<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>donation</title>

</head>
<body>



    <link th:href="@{/css/style_2016.css}" rel="stylesheet">
    <link th:href="@{/datatables/css/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <link th:href="@{/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/jquery/jquery.autocomplete.css}" rel="stylesheet">


    
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner clearfix">
        <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

        
        <ul class="nav">
            <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                <strong>Logout</strong></a></li>
            <li class="divider"></li>
            
          
            
            <li class="divider"></li>
            <li><a href="https://www.dropbox.com/" target="_blank" ><strong>Save hospital document to cloud...........</strong></a></li>
            
            <li class="divider"></li>
            <li style="border:1px solid #fff"><a href="/viewadmintimeline" style="color: #fff"><strong>Admin Timeline.......</strong></a></li>
            
        </ul>
        
    </div>
</div> 
<!-- <div class="container-fluid"> -->

<div class="row-fluid">
<div class="sidebar-nav">
    <ul class="nav nav-list">
        <ul class="nav nav-list">
            <li class="nav-header">hospital staff</li>
            <li><a href="/registerstaff" title="My Health Providers">
                <img th:src="@{/img/images7.jfif}">add and view hospital staff</a></li>
           
            
            <li class="nav-header">doctor tasks</li>
            <li><a href="/registerdoc" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/refer.png}">Register doctor to network</a></li>
               
                <li><a href="/managedoc" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{/img/refer.png}">Manage doctor account</a></li>
                         
            <li class="nav-header">patient tasks</li>
            <li><a href="/viewpatient" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/imageskl.png}">view admitted patient</a></li>
                <li><a href="/patientaccount" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/images6.jfif}">manage patient account</a></li>
               
                <li><a href="/viewlabrequests" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{img/folder.png}">View lab requests</a></li>
                        
                <li><a href="/viewfeedback" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{/img/feedback.png}">view feedback</a></li>
                        
                <li><a href="/viewdonation" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{/img/gift.png}">view pledges and donations</a></li>
                        
            <li class="nav-header">Announcements</li>
            <li><a href="/postannouncement" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/alert.png}">Post announcements</a></li>
                  <li><a href="/enrollremind" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/insurance.png}">Add insurance supported</a></li>
                 <li><a href="/uploaddocument" data-toggle="modal" title="Appointments and Reminders">
                <img th:src="@{/img/imagesjjk.png}">Upload doctor stuff</a></li>


           
    </ul>
        <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
        </ul>
</div>
<div class="container-fluid"> 


    <div class="content" >
        <div class="row-fluid">    
            <div class="span16">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                      <tr>
                            <th>Name of donor</th>
                            <th>date of pledge</th>
                            <th>name of gift</th>
                            <th>Intended purpose</th>
                            <th>phone of donor</th>
                            <th>email of donor</th>
                            <th>Action</th>
                      </tr>
                    </thead> 
                    <tfoot>
                        <th>Name of donor</th>
                        <th>date of pledge</th>
                        <th>name of gift</th>
                        <th>Intended purpose</th>
                        <th>phone of donor</th>
                        <th>email of donor</th>
                        <th>Action</th>
                    </tfoot>

                    <tbody> 
                        <tr th:each="donation : ${donations}">
                            <td th:text="${donation.fullname}"></td>
                            <td th:text="${donation.dod}"></td>
                            <td th:text="${donation.pledge}"></td>
                            <td th:text="${donation.purpose}"></td>
                            <td th:text="${donation.phoneno}"></td>
                            <td th:text="${donation.email}"></td>
                            <td>
                            <a th:href="@{/delete/donation/{id}(id=${donation.id})}">Delete</a>
                        </td>
                        </tr>
                            
                          
                        
                    </tbody>
                  </table>
                </div>
              </div>
             </div> 
                
     </div> 
        

    <input type="hidden" id="ForgeryToken" value="4_AQfS__mkeQZVSpu43aqSc8NZHK3g0IuuRyeyEnDM6rN3RN8_5x8_j04a5W1zaWwn3J3CdFv08W4Xs7nVnNvhpN86g1,jIaZ4eFNrUSiKwwh3iDAf2KVx6Mg20SjvA4fMgR9-Es4odRGWSnWTdO2Ei0vOX4cFGZ1TxUAD13L8xEUCL647RE7tSGxSTiG5ZDwmUH9joSIBl2e0">
   
        
    <hr>
    <!-- Placed at the end of the document so the pages load faster -->
             
            <script th:src="@{/jquery3/jquery-3.3.1.js}"></script>
            <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/datatables/js/jquery.dataTables.min.js}"></script>
            <script th:src="@{/datatables/js/dataTables.bootstrap4.min.js}"></script>
            <script th:src="@{/datatables/js/sb-admin-datatables.min.js}"></script>
        
    
</body></html>


