<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>clerk timeline</title>

</head>
<body>


  

    <link th:href="@{/bootstrap/style_2016.css}" rel="stylesheet">
    <link th:href="@{/datatables/css/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <link th:href="@{/bootstrap/jquery.autocomplete.css}" rel="stylesheet">

    <link th:href="@{bootstrap/font-awesome.min.css}" rel="stylesheet">


        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

                
                <ul class="nav">
                    <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>
                    <li class="divider"></li>
                    
                  
                    
                    <li class="divider"></li>
                    <li><a href="https://www.dropbox.com/" target="_blank" ><strong>Save hospital document to cloud...........</strong></a></li>
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="/viewclerktimeline" style="color: #fff"><strong>Clerk  Timeline.......</strong></a></li>
                    
                </ul>
                
            </div>
        </div> 

    <div class="row-fluid">
  <div class="sidebar-nav">
            <ul class="nav nav-list">
                    <li class="nav-header">Clerk </li>
                    <li><a href="/enrollrecord" title="My Health Providers">
                        <img th:src="@{/img/folder.png}">Edit and view patients medical data records</a></li>
                          <li><a href="/viewlabrequests" title="My Health Providers">
                        <img th:src="@{/img/folder.png}">View lab requests</a></li>
                     <li><a href="/enrolladmitted" title="My Health Providers">
                        <img th:src="@{/img/folder.png}">Add admitted patients to our system</a></li>

                         <li><a href="/enrollvisiting" title="My Health Providers">
                        <img th:src="@{/img/folder.png}">Register visiting patients to our system</a></li>
                   
                   
                   
                      
    
    
                   
            </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </ul>
    </div>
    <div class="container-fluid"> 
    
    
        <div class="content" >
            <div class="row-fluid">    
                <div class="span16">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                          <tr>
                            <th>Name of patient</th>
                            <th>Room of admission</th>
                            <th>Reason for admission</th>
                            <th>Date of admission</th>
                            <th>Gender</th>
                            <th>Phoneno</th>
                            <th>Date of discharge</th>
                            <th>Action</th>
                      </tr>
                    </thead> 
                    <tfoot>
                        <tr>
                            <th>Name of patient</th>
                            <th>Room of admission</th>
                            <th>Reason for admission</th>
                            <th>Date of admission</th>
                            <th>Gender</th>
                            <th>Phoneno</th>
                            <th>Date of discharge</th>
                            <th>Action</th>
                      </tr>
                    </tfoot>

                    <tbody> 
                        <tr th:each="warda : ${wardas}">
                            <td th:text="${warda.name}"></td>
                            <td th:text="${warda.room}"></td>
                            <td th:text="${warda.reason}"></td>
                            <td th:text="${warda.doa}"></td>
                            <td th:text="${warda.gender}"></td>
                            <td th:text="${warda.phoneno}"></td>
                            <td th:text="${warda.dod}"></td>






                            <td>
                                <a th:href="@{/edit/warda/{id}(id=${warda.id})}">Edit</a>
                            <a th:href="@{/delete/warda/{id}(id=${warda.id})}">Delete</a>
                        </td>
                        </tr>
                            
                          
                        
                    </tbody>
                  </table>
                </div>
              </div>
             </div> 
                
     </div> 
        

       
    <hr>
    <!-- Placed at the end of the document so the pages load faster -->
             
            <script th:src="@{/jquery3/jquery-3.3.1.js}"></script>
            <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/datatables/js/jquery.dataTables.min.js}"></script>
            <script th:src="@{/datatables/js/dataTables.bootstrap4.min.js}"></script>
            <script th:src="@{/datatables/js/sb-admin-datatables.min.js}"></script>
        
    
</body></html>


