
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>donation pledge</title>

</head>
<body>



    <link th:href="@{/css/style_2016.css}" rel="stylesheet">

    <link th:href="@{/font-awesome.min.css}" rel="stylesheet">


    <body style="position: relative; min-height: 100%; top: 0px;">

        
          
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

                
                <ul class="nav">
                    <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrollfeedback" target="_blank"><strong>Give us your Feedback</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrolldonation"><strong>Donate to our courses</strong></a></li>
                    <li class="divider"></li>
                     <li><a href="/resetpassword"><strong>manage my account</strong>
                            </a></li>
                    
                    <li class="divider"></li>
                    <li><a href="/viewannouncement"><strong>Announcement</strong></a></li>
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="/viewpatienttimeline" style="color: #fff"><strong>Patient Timeline</strong></a></li>
                    
                </ul>
                
            </div>
        </div> 
        <!-- <div class="container-fluid"> -->

    <div class="row-fluid">
  <div class="sidebar-nav">
            <ul class="nav nav-list">
                    <li class="nav-header">Manage your health</li>
                    <li><a href="/enrollrequest">
                        <img th:src="@{/img/result.png}">Request your lab results</a></li>
                    <li><a href="/enrollrecordp" >
                        <img th:src="@{/img/folder.png}">Add and save my medical data</a></li>
                    <li><a href="/addhealth" title="Share Individual Records with Health Providers">
                        <li><a href="https://www.dropbox.com/" target="_blank" title="My Health Devices">
                            <img th:src="@{/img/imagesjjk.png}">Save my medical records to Cloud</a></li>
                        <img th:src="@{/img/images7.jfif}"> Add my Personal profile</a></li>
                        <li><a href="/enrollprofile" >
                            <img th:src="@{/img/images7.jfif}">View and edit my personal profile</a></li>
                            <li><a href="/viewinsurance" title="Share Individual Records with Health Providers">
  <img th:src="@{/img/insurance.png}">Health insurance card supported</a></li>
                    
                    <li class="nav-header">Reminders and Appointments</li>
                    <li><a href="/remind/new" data-toggle="modal" >
                        <img th:src="@{/img/alert.png}">Add and view notification &amp; Reminders</a></li>
                       
                        <li><a href="/enrollappointment" data-toggle="modal">
                                <img th:src="@{/img/appointment.png}">Book appointments</a></li>
    
                   
            </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </div>
        <!--/.well -->
     
        <div class="content">
            <div class="row-fluid">
                <div class="span3">&nbsp;</div>
                <div class="span6">
                    <div class="login-container">
                        <div class="login-span">
                            
    
                            <form class="form-horizontal well-plain-form" method="post" th:action="@{/adddonation}" th:object="${donation}">
    
                                <fieldset>
                                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                                <p>Please Correct Errors Below</p>
                                            </div>
    
                                    <h4 class="under-border">Donate to our courses</h4>
                                    <br>
    
                                         
                                    <div class="control-group">
    
                                        <label class="control-label-long" >Name </label>
                                        <div class="controls-long">
                                            <input type="text" th:field="*{fullname}" id="fullname" placeholder="enter insurance name">                                             <span class="inline-block" >
                                                <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>

                                        </div>
                                    </div>
                                            
                                    <div class="control-group">
    
                                            <label class="control-label-long" >Date of pledge</label>
                                            <div class="controls-long">
                                                <input type="date" th:field="*{dod}" id="dod" placeholder="indicate date">                                             <span class="inline-block" >
                                                    <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('dod')}" th:errors="*{dod}"></span>

                                            </div>
                                        </div>

                                        <div class="control-group">
    
                                            <label class="control-label-long" >Name of pledge </label>
                                            <div class="controls-long">
                                                <input type="text" th:field="*{pledge}" id="name" placeholder="enter name of your gift/pledge">                                             <span class="inline-block" >
                                                    <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('pledge')}" th:errors="*{pledge}"></span>
    
                                            </div>
                                        </div>
                                        <div class="control-group">
    
                                            <label class="control-label-long" >Purpose </label>
                                            <div class="controls-long">
                                                <input type="text" th:field="*{purpose}" id="name" placeholder="indicate intended purpose of gift">                                             <span class="inline-block" >
                                                    <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}"></span>
    
                                            </div>
                                        </div>
                                        <div class="control-group">
    
                                            <label class="control-label-long" >phone no </label>
                                            <div class="controls-long">
                                                <input type="text" th:field="*{phoneno}" id="phoneno" placeholder="enter your mobile no">                                             <span class="inline-block" >
                                                    <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('phoneno')}" th:errors="*{phoneno}"></span>
    
                                            </div>
                                        </div>
                                        <div class="control-group">
    
                                            <label class="control-label-long" >email  </label>
                                            <div class="controls-long">
                                                <input type="text" th:field="*{email}" id="email" placeholder="enter your mobile no">                                             <span class="inline-block" >
                                                    <span  class ="inline-block alert alert-danger" th:if="${#fields.hasErrors('phoneno')}" th:errors="*{phoneno}"></span>
    
                                            </div>
                                        </div>
                                           
                                   
                                       
                           
                                        <div class="controls-long">
                                            <input type="submit" id="LoginButton" value="submit" class="btn btn-primary">
                                          
                                        </div>
                                    </div>
                                   
                                </fieldset>
    
    
                            </form>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        
       
   
                 
                <hr>
                <script type="text/javascript" th:src="@{/bootstrap/moment.js.download}"></script>
                <script type="text/javascript" th:src="@{/bootstrap/Chart.min.js.download}"></script>
               <script type="text/javascript" th:src="@{/bootstrap/new-charts.js.download}"></script>
               <script type="text/javascript" th:src="@{/bootstrap/bootstrap-transition.js.download}"></script>
               <script type="text/javascript" th:src ="@{/bootstrap/bootstrap-alert.js.download}"></script>
               <script type="text/javascript" th:src="@{/bootstrap/bootstrap-modal.js.download}"></script>
               <script type="text/javascript" th:src="@{/bootstrap/jquery/jquery.dataTables.js.download}"></script>
                <script type="text/javascript" src="@{/bootstrap/TableTools.js.download}"></script>
                <script type="text/javascript" src="@{/bootstrap/ZeroClipboard.js.download}"></script>
                <script type="text/javascript" src="@{/bootstrap/jquery/jquery.autocomplete.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-tagsinput.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-dropdown.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-scrollspy.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-tab.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-tooltip.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-popover.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-button.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-collapse.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-carousel.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-typeahead.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootstrap-datepicker.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/bootbox.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/Validation.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/application.js.download}"></script>
               <script type="text/javascript" src="@{/bootstrap/main.js(1).download}"></script>
               
               <script type="text/javascript" src="@{/bootstrap/modernizr.js.download}"></script>
            
        
    </body>
    </html>


