
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>add personal profile</title>

</head>
<body>



    <link th:href="@{/css/style_2016.css}" rel="stylesheet">

    <link th:href="@{/font-awesome.min.css}" rel="stylesheet">


    <body style="position: relative; min-height: 100%; top: 0px;">

        
          
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

                
                <ul class="nav">
                    <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrollfeedback" target="_blank"><strong>Give us your Feedback</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrolldonation"><strong>Donate to our courses</strong></a></li>
                    <li class="divider"></li>
                     <li><a href="/resetpassword"><strong>manage my account</strong>
                            </a></li>
                    
                    <li class="divider"></li>
                    <li><a href="/viewannouncement"><strong>Announcement</strong></a></li>
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="/viewpatienttimeline" style="color: #fff"><strong>Patient Timeline</strong></a></li>
                    
                </ul>
                
            </div>
        </div> 
        <!-- <div class="container-fluid"> -->

    <div class="row-fluid">
  <div class="sidebar-nav">
            <ul class="nav nav-list">
                    <li class="nav-header">Manage your health</li>
                    <li><a href="/enrollrequest">
                        <img th:src="@{/img/result.png}">Request your lab results</a></li>
                    <li><a href="/enrollrecordp" >
                        <img th:src="@{/img/folder.png}">Add and save my medical data</a></li>
                    <li><a href="/addhealth" title="Share Individual Records with Health Providers">
                        <li><a href="https://www.dropbox.com/" target="_blank" title="My Health Devices">
                            <img th:src="@{/img/imagesjjk.png}">Save my medical records to Cloud</a></li>
                        <img th:src="@{/img/images7.jfif}"> Add my Personal profile</a></li>
                        <li><a href="/enrollprofile" >
                            <img th:src="@{/img/images7.jfif}">View and edit my personal profile</a></li>
                            <li><a href="/viewinsurance" title="Share Individual Records with Health Providers">
  <img th:src="@{/img/insurance.png}">Health insurance card supported</a></li>
                    
                    <li class="nav-header">Reminders and Appointments</li>
                    <li><a href="/remind/new" data-toggle="modal" >
                        <img th:src="@{/img/alert.png}">Add and view notification &amp; Reminders</a></li>
                       
                        <li><a href="/enrollappointment" data-toggle="modal">
                                <img th:src="@{/img/appointment.png}">Book appointments</a></li>
    
                   
            </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </div>

        <div class="container-fluid">
        
            <br>             
        
          <br>
        
              <hr>
              <div class="span4">       
                    <div class="pull-right ">   
                           <a href="#"class="btn btn-info" role="button">Add your personal info</a>                  
                   </div>
               </div>
    <input type="hidden" id="ForgeryToken" value="p-PShebvZB3DMs5kF-CzIzSzYbZYFG6P6g9Sb3Mb_vW40zWg85eXzxgdkQdAayQ4GGxmLk2B7dXMkATlVUvPjBqss4M1,qG7IoxFW41U2Tqe6a51i2z_Yefl3e30SSG7IMkyxKjEut1R61a5jPdw488F_cOz0JBUsvKvZhUNxEBlXEU_ZqqlQIguXo8ZX01L5_YWnZFAVGpkJ0">
        </div>  
        <hr>
        

   
        <hr>
        <!-- Placed at the end of the document so the pages load faster -->
                 
                
            
        
        </body></html>


