

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="height: 100%;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
 view referal
</title>
    <meta name="apple-itunes-app" content="app-id=934020071"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="description"><meta name="author">

    <link href="bootstrap/style_2016.css" rel="stylesheet">
    <link href="bootstrap/jquery/jquery.autocomplete.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="https://app.medelinked.com/content/img/favicon.ico"><link href="./Medelinked_files/font-awesome.min.css" rel="stylesheet">
    
    
<link type="text/css" rel="stylesheet" charset="UTF-8" href="bootstrap/css/translateelement.css"><script type="text/javascript" charset="UTF-8" src="./bootstrap/main.js.download"></script><script type="text/javascript" charset="UTF-8" src="./Medelinked_files/element_main.js.download"></script></head>
    
  
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                    <a class="brand" href=""><img src="@routes.Assets.versioned("img/logo.jpg")" alt="" width="320" height="52" /></a>
                    <ul class="nav">
                    <li><a href="@routes.DoctorController.logout()" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>

                    
                    <li class="divider"></li>
                    <li><a href="@routes.DoctorController.checkprofile()"><strong>Edit and Check my Profile</strong></a></li>

                    <li class="divider"></li>
                     <li><a href="https://www.dropbox.com/"><strong>Store my Documents to cloud</strong>
                            </a></li>

                            <li class="divider"></li>
                            <li><a href="#" target="_blank"><strong>Send message to fellow doctor</strong></a></li>
                    
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="@routes.DoctorController.doctimeline()" style="color: #fff"><strong>Doctor's Timeline</strong></a></li>   
                </ul>
                
            </div>
        </div> 
        <!-- <div class="container-fluid"> -->


<div class="row-fluid">
<div class="sidebar-nav">
    
        <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
        </ul>
</div>
        <div class="container-fluid">
        
    <div class="content">
            <div class="row-fluid">
                <div class="span2">&nbsp;</div>
                <div class="span6">
                    <div class="login-container">
                        <div class="login-span">
                         <div class="alert alert-success">
              <li class="breadcrumb-item active">Thank you.Your Donation pledge has been submitted successfully,We will get in touch with you soon </li>
                              </div>
    
                            <form class="form-horizontal well-plain-form" method="post" action="https://app.medelinked.com/home/loginuser">
    
                                <fieldset>
    
                                    <h4 class="under-border">Register your account</h4>
                                    <br>
                                    <input name="__RequestVerificationToken" type="hidden" value="D8QFXSh2V86O3aMtAeR4KuS-_jN8rg2yuwoQSi-lgTsmbuP7tIwvO_y4UGq3-M0_iBLcUAAgqI_LeRhfdz3FuOBGc3U1">
    
                                         
                                    <div class="control-group">
    
                                        <label class="control-label-long" for="firstname">First name</label>
                                        <div class="controls-long">
                                            <input type="text"  th:field="*{firstname}"  id="firstname" placeholder="Enter your username..." class="input-large">
                                             <span class="inline-block" >
                                        <ul>
<li>indicate</li>                                        </ul>
                                    </span>
                                        </div>
                                    </div>

                                    <div class="control-group">
    
                                        <label class="control-label-long" for="Username">Last Name</label>
                                        <div class="controls-long">
                                            <input type="text" name="Username" id="Username" placeholder="Enter your username..." class="input-large">
                                             <span class="inline-block" >
                                        <ul>
<li>indicate</li>                                        </ul>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
    
                                        <label class="control-label-long" for="Username">Email</label>
                                        <div class="controls-long">
                                            <input type="text" name="Username" id="Username" placeholder="Enter your username..." class="input-large">
                                             <span class="inline-block" >
                                        <ul>
<li>indicate</li>                                        </ul>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
    
                                        <label class="control-label-long" for="Username">Password</label>
                                        <div class="controls-long">
                                            <input type="text" name="Username" id="Username" placeholder="Enter your username..." class="input-large">
                                             <span class="inline-block" >
                                        <ul>
<li>indicate</li>                                        </ul>
                                    </span>
                                        </div>
                                    </div>
                                           
                                   
                                       
                           
                                        <div class="controls-long">
                                            <input type="submit" id="LoginButton" value="Register" class="btn btn-primary">
                                          
                                        </div>
                                    </div>
                                   
                                </fieldset>
    
    
                            </form>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        
       
   
                 
                <hr>
                <script type="text/javascript" src="bootstrap/moment.js.download"></script>
                <script type="text/javascript" src="bootstrap/Chart.min.js.download"></script>
               <script type="text/javascript" src="bootstrap/new-charts.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-transition.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-alert.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-modal.js.download"></script>
               <script type="text/javascript" src="bootstrap/jquery/jquery.dataTables.js.download"></script>
                <script type="text/javascript" src="bootstrap/TableTools.js.download"></script>
                <script type="text/javascript" src="bootstrap/ZeroClipboard.js.download"></script>
                <script type="text/javascript" src="bootstrap/jquery/jquery.autocomplete.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-tagsinput.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-dropdown.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-scrollspy.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-tab.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-tooltip.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-popover.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-button.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-collapse.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-carousel.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-typeahead.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootstrap-datepicker.js.download"></script>
               <script type="text/javascript" src="bootstrap/bootbox.js.download"></script>
               <script type="text/javascript" src="bootstrap/Validation.js.download"></script>
               <script type="text/javascript" src="bootstrap/application.js.download"></script>
               <script type="text/javascript" src="bootstrap/main.js(1).download"></script>
               
               <script type="text/javascript" src="bootstrap/modernizr.js.download"></script>
            
        
    </body>
    </html>


