<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>disease and condition</title>

</head>
<body>


  

    <link th:href="@{/bootstrap/style_2016.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/jquery.autocomplete.css}" rel="stylesheet">

    <link th:href="@{bootstrap/font-awesome.min.css}" rel="stylesheet">



        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

                
                <ul class="nav">
                    <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrollMessage" target="_blank"><strong>Send message to fellow doctors</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/addprofile"><strong>Edit and check my profile</strong></a></li>
                    <li class="divider"></li>
                     <li><a href="/viewaccount"><strong>manage my account</strong>
                            </a></li>
                    
                    <li class="divider"></li>
                    <li><a href="/viewannouncementd"><strong>Announcement</strong></a></li>
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="/viewdoctortimeline" style="color: #fff"><strong>Doctor Timeline</strong></a></li>
                    
                </ul>
                
            </div>
        </div> 
        <div class="container-fluid">

    <div class="row-fluid">
  <div class="sidebar-nav">
            <ul class="nav nav-list">
                    <li class="nav-header">Manage my treatment</li>
                <li><a href="/enrollrecord" title="Add Patient">
                    <img th:src="@{/img/folder.png}">Add and view records for patients I have treated</a></li>
                    
                    <li><a href="/viewallrecords" title="Share Individual Records with Health Providers">
                <img th:src="@{/img/folder.png}">Access all medical records of the hospital database</a></li>
                <li><a href="/enrollrefer" title="My Health Devices">
                    <img th:src="@{/img/refer.png}">Refer a patient</a></li>
                
                    <li><a href="/referal" title="Share Individual Records with Health Providers">
                        <img th:src="@{/img/refer2.png}">View Referrals</a></li>
                    
                    <li class="nav-header">Reminders and Appointments</li>
                    <li><a href="/enrollremind" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{img/alert.png}">Add and view notification &amp; Reminders</a></li>
                       
                        <li><a href="/enrollappointment" data-toggle="modal" title="Appointments and Reminders">
                                <img th:src="@{/img/appointment.png}">View my  appointments</a></li>
                                 <li><a href="/enrollappointment" data-toggle="modal" title="Appointments and Reminders">
                               


                                <li class="nav-header">Health Library</li>
                    <li><a href="/viewdisease">
                        <img th:src="@{/img/disease.png}">Diseases and Conditions</a></li>
                    <li><a href="/viewtest">
                            <img th:src="@{/img/test.png}">Tests and Procedures</a></li>
                    <li><a href="/viewdrug">
                                <img th:src="@{/img/drug..png}">Drugs and supplements</a></li>

                                  
                                <li class="nav-header">downloads and documents</li>
                    <li><a href="/viewdownload">
                        <img th:src="@{/img/download23.png}">view downloads</a></li>
                  <li><a href="https://www.dropbox.com/">
                        <img th:src="@{/img/imagesjjk.png}"  target="_blank">store your documents to cloud</a></li>
                  
    
                   
            </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </div>
        <!--/.well -->

        <div class="content">
           
            <div class="healthsnapshot-banner">
                    <h4 class="under-border">Welcome to xxxx Doctor dashboard  </h4>
                    <p>We at XXXX HOSPITAL believe in a healthier you and put our dervices first and through our doctor portal you  can access a variety of online health services.through our patient dashboard,you can do the following</p>
            </div>
            <!-- <br>             -->
        </div>
        <!-- Timeline starts here -->
        <div class="page" id="myTimeline">
            <div class="main-page">
                <section id="cd-timeline" class="cd-container">           
                            <div class="cd-timeline-block article-box">
						        <div class="cd-timeline-img bounce-in">
							        <img src="files/text155.svg" alt="">
						        </div> <!-- cd-timeline-img -->
						        <div class="cd-timeline-content bounce-in">   
							        <h2>Keep track of your patient treatment</h2>
                                    <h4>Monitor your patient treatment</h4>
                                   
							        <p>
                                        You can now add medical records of the patient you have treated to help you keep track  of medication and administer treatment  effectively
							        </p>							        
						        </div> <!-- cd-timeline-content -->
                            </div> 
                            <!-- beginning of second article -->  
                            <div class="cd-timeline-block article-box">
						        <div class="cd-timeline-img bounce-in">
							        <img src="files/text155.svg" alt="">
						        </div> <!-- cd-timeline-img -->
						       <div class="cd-timeline-content bounce-in">   
							        <h2>check appointment</h2>
                                    <h4>check appointment in your dashboard</h4>
                                   
							        <p>
                                       you can check appointment made to your portal by our patient and respond to them appropriately
                                
							        </p>
							        
						        </div> <!-- cd-timeline-content -->
                            </div>
                            <div class="cd-timeline-block article-box">
						        <div class="cd-timeline-img bounce-in">
							        <img src="files/text155.svg")" alt="">
						        </div> <!-- cd-timeline-img -->
						        <div class="cd-timeline-content bounce-in">   
							        <h2>Add reminders</h2>
                                    <h4>add reminders and notification of events</h4>
                                    
							        <p>
                                        you can now add reminders of events to your portal to help remind you day to day doctor's events,health activities and engagements
                                
							        </p>
							        
						        </div> <!-- cd-timeline-content -->
                            </div>
                            <div class="cd-timeline-block article-box">
						        <div class="cd-timeline-img bounce-in">
							        <img src="files/text155." alt="">
						        </div> <!-- cd-timeline-img -->
						         <div class="cd-timeline-content bounce-in">   
							        <h2>Refer patient</h2>
                                    <h4>Refer a patient to another  doctor </h4>
                                   
							        <p>
                                        Through our doctor dashboard you can refer a patient to another Doctor within our department
                                
							        </p>
						        </div> <!-- cd-timeline-content -->
                            </div> 
                            <div class="cd-timeline-block article-box">
						        <div class="cd-timeline-img bounce-in">
							        <img src="files/text155.svg" alt="">
						        </div> <!-- cd-timeline-img -->
						        <div class="cd-timeline-content bounce-in">   
							        <h2>Health Library</h2>
                                    <h4>Exclusive access to numerous heath resources </h4>
                                  
							        <p>
                                        Through our doctor's dashboard,you can check disease and condtion,tests and procedures
                                
							        </p>
						        </div> <!-- cd-timeline-content -->
                                        
                        </section>
            </div>
        </div>

    </div>
</div> 


</div>


   
        <hr>
        <!-- Placed at the end of the document so the pages load faster -->
                 
                
            
        
        </body></html>


