<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>select wards </title>

</head>
<body>


  

    <link th:href="@{/bootstrap/style_2016.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/jquery.autocomplete.css}" rel="stylesheet">

    <link th:href="@{bootstrap/font-awesome.min.css}" rel="stylesheet">



        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <a class="brand" href=""><img src="" alt="" width="320" height="52" /></a>

                
                <ul class="nav">
                    <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                        <strong>Logout</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/enrollMessage" target="_blank"><strong>Send message to fellow doctors</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="/addprofile"><strong>Edit and check my profile</strong></a></li>
                    <li class="divider"></li>
                     <li><a href="/viewaccount"><strong>manage my account</strong>
                            </a></li>
                    
                    <li class="divider"></li>
                    <li><a href="/viewannouncementd"><strong>Announcement</strong></a></li>
                    
                    <li class="divider"></li>
                    <li style="border:1px solid #fff"><a href="/viewdoctortimeline" style="color: #fff"><strong>Doctor Timeline</strong></a></li>
                    
                </ul>
                
            </div>
        </div> 
        <div class="container-fluid">

    <div class="row-fluid">
  <div class="sidebar-nav">
            <ul class="nav nav-list">
                    <li class="nav-header">Manage my treatment</li>
                <li><a href="/enrollrecord" title="Add Patient">
                    <img th:src="@{/img/folder.png}">Add and view records for patients I have treated</a></li>
                    
                    <li><a href="/viewallrecords" title="Share Individual Records with Health Providers">
                <img th:src="@{/img/folder.png}">Access all medical records of the hospital database</a></li>
                <li><a href="/enrollrefer" title="My Health Devices">
                    <img th:src="@{/img/refer.png}">Refer a patient</a></li>
                
                    <li><a href="/referal" title="Share Individual Records with Health Providers">
                        <img th:src="@{/img/refer2.png}">View Referrals</a></li>
                    
                    <li class="nav-header">Reminders and Appointments</li>
                    <li><a href="/enrollremind" data-toggle="modal" title="Appointments and Reminders">
                        <img th:src="@{/img/alert.png}">Add and view notification &amp; Reminders</a></li>
                       
                        <li><a href="/enrollappointment" data-toggle="modal" title="Appointments and Reminders">
                                <img th:src="@{/img/appointment.png}">View my  appointments</a></li>
                                 <li><a href="/enrollappointment" data-toggle="modal" title="Appointments and Reminders">
                               


                                <li class="nav-header">Health Library</li>
                    <li><a href="/viewdisease">
                        <img th:src="@{/img/disease.png}">Diseases and Conditions</a></li>
                    <li><a href="/viewtest">
                            <img th:src="@{/img/test.png}">Tests and Procedures</a></li>
                    <li><a href="/viewdrug">
                                <img th:src="@{/img/drug..png}">Drugs and supplements</a></li>

                                  
                                <li class="nav-header">downloads and documents</li>
                    <li><a href="/viewdownload">
                        <img th:src="@{/img/download23.png}">view downloads</a></li>
                  <li><a href="https://www.dropbox.com/">
                        <img th:src="@{/img/imagesjjk.png}"  target="_blank">store your documents to cloud</a></li>
                  
    
                   
            </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </div>
        <!--/.well -->
        <div class="content">
          

            
            <h4 class="under-border">View admitted patients</h4>



            <div class="row-fluid">
               
               
            <div class="span7">

                <h3>View patient admitted in our wards</h3>
                <ul class="standard-list right-nav">
                    <li><a href="/viewwarda"><i ></i>view patient in ward A</a></li>
                    <li><a href="/viewwardb" ></i>view patient in ward B</a></li>
                    <li><a href="/viewwardc"><i></i>view patient in ward C</a></li>
                    <li><a href="/viewwardd"><i ></i>view patient in ward D</a></li>
                   
                </ul>

            </div>
        </div>


    </div>

    




 
        
        <hr>


   
        
        <!-- /container -->
        <!-- Le javascript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" th:src="@{/bootstrap-transition.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-alert.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-modal.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-dropdown.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-scrollspy.js.download}"></script>
        <script type="text/javascript" th:src="@/bootstrap-tab.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-tooltip.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-popover.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-button.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-collapse.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-carousel.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-typeahead.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-datepicker.js.download}"></script>
        <script type="text/javascript" th:src="@{/bootbox.js.download}"></script>
        
    

</body></html>